.loom-evals/
node_modules/
__pycache__/
*.pyc
/.skill-authoring/
/.aos-evals/

## Ignore opencoode.json.
cli*.json
config*.json
service*.json
tsconfigi*.json
tui*.json
opencode*.json
opencode*.jsonc
profiles/**
cli/**
tui/**
